<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1> This is the profile page for Users</h1>
    <!-- html only use a POSt or GET method, as shown below -->
    <form action="/users/profile/<%=index%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=userInfo.name%>" > <br>
        Username:<input type="text" name="username" value="<%=userInfo.username%>"><br>
        Password <input type="text" name="password" value="<%=userInfo.password%>"><br>
        <input type="submit" value="Edit"><br>
    </form>
    <form>
    <input type="submit" value="Delete User" >   
    </form action="/users/<%=index%>?_method=DELETE" method="POST">
    <!-- express ejs refers to the local 3000, so only the relative path is needed -->
    <a href="/fruits"> View All Fruits </a>
</body>
</html>